# Archivos de Maven
target/
pom.xml.tag
pom.xml.next
pom.xml.releaseBackup
pom.xml.versionsBackup

# Archivos del IDE (IntelliJ, VSCode, Eclipse)
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Archivos de logs y sistema
*.log
.DS_Store
Thumbs.db